<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-cookie-manager" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CookieManagementPlugin</name>
    <js-module name="CookieManagementPlugin" src="www/CookieManagementPlugin.js">
        <clobbers target="cordova.plugins.CookieManagementPlugin"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CookieManagementPlugin">
                <param name="android-package" value="cordovaPluginCookieManager.CookieManagementPlugin"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/CookieManagementPlugin.java" target-dir="src/cordova-plugin-cookie-manager/CookieManagementPlugin"/>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CookieManagementPlugin">
                <param name="ios-package" value="CookieManagementPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/ios/CookieManagementPlugin.m"/>
    </platform>
</plugin>
